<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoodsInfo</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>nDiamond</key>
			<integer>100</integer>
			<key>strIcon</key>
			<string>res/shop_system/diamond/ios_goods1.png</string>
			<key>strName</key>
			<string>×êÊ¯1</string>
			<key>strPlatform</key>
			<string>ios</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>nDiamond</key>
			<integer>100</integer>
			<key>strIcon</key>
			<string>res/shop_system/diamond/ios_goods2.png</string>
			<key>strName</key>
			<string>×êÊ¯2</string>
			<key>strPlatform</key>
			<string>ios</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>nDiamond</key>
			<integer>100</integer>
			<key>strIcon</key>
			<string>res/shop_system/diamond/ios_goods3.png</string>
			<key>strName</key>
			<string>×êÊ¯3</string>
			<key>strPlatform</key>
			<string>ios</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>nDiamond</key>
			<integer>100</integer>
			<key>strIcon</key>
			<string>res/shop_system/diamond/ios_goods4.png</string>
			<key>strName</key>
			<string>×êÊ¯4</string>
			<key>strPlatform</key>
			<string>ios</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>nDiamond</key>
			<integer>100</integer>
			<key>strIcon</key>
			<string>res/shop_system/diamond/ios_goods5.png</string>
			<key>strName</key>
			<string>×êÊ¯5</string>
			<key>strPlatform</key>
			<string>ios</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>nDiamond</key>
			<integer>100</integer>
			<key>strIcon</key>
			<string>res/shop_system/diamond/ios_goods6.png</string>
			<key>strName</key>
			<string>×êÊ¯6</string>
			<key>strPlatform</key>
			<string>ios</string>
		</dict>
	</array>
</dict>
</plist>
