<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>GoodsInfo</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>strIcon</key>
			<string>res/shop_system/vip/goods1.png</string>
			<key>strDescPath</key>
			<string>res/shop_system/vip/yearcard01.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>strIcon</key>
			<string>res/shop_system/vip/goods2.png</string>
			<key>strDescPath</key>
			<string>res/shop_system/vip/yearcard02.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>strIcon</key>
			<string>res/shop_system/vip/goods3.png</string>
			<key>strDescPath</key>
			<string>res/shop_system/vip/yearcard03.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>strIcon</key>
			<string>res/shop_system/vip/goods4.png</string>
			<key>strDescPath</key>
			<string>res/shop_system/vip/yearcard04.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>strIcon</key>
			<string>res/shop_system/vip/goods5.png</string>
			<key>strDescPath</key>
			<string>res/shop_system/vip/yearcard05.png</string>
		</dict>
	</array>
	</dict>
</plist>