<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ItemInfo</key>
	<array>
		<dict>
			<key>nId</key>
			<integer>243</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô1</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin1.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>244</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô2</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin2.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>245</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô3</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin3.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>246</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô4</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin4.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>247</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô5</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin5.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>248</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô6</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin6.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>249</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô7</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin7.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>250</integer>
			<key>nType</key>
			<integer>1</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>Æ¤·ô8</string>
			<key>strIcon</key>
			<string>res/shop_system/skin/skin8.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>273</integer>
			<key>nType</key>
			<integer>2</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>¹â»·1</string>
			<key>strIcon</key>
			<string>res/shop_system/halo/halo1.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>274</integer>
			<key>nType</key>
			<integer>2</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>¹â»·2</string>
			<key>strIcon</key>
			<string>res/shop_system/halo/halo2.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>275</integer>
			<key>nType</key>
			<integer>2</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>¹â»·3</string>
			<key>strIcon</key>
			<string>res/shop_system/halo/halo3.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>276</integer>
			<key>nType</key>
			<integer>2</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>¹â»·4</string>
			<key>strIcon</key>
			<string>res/shop_system/halo/halo4.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>303</integer>
			<key>nType</key>
			<integer>3</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>æß×Ó1</string>
			<key>strIcon</key>
			<string>res/shop_system/spore/spore1.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>304</integer>
			<key>nType</key>
			<integer>3</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>æß×Ó2</string>
			<key>strIcon</key>
			<string>res/shop_system/spore/spore2.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>305</integer>
			<key>nType</key>
			<integer>3</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>æß×Ó3</string>
			<key>strIcon</key>
			<string>res/shop_system/spore/spore3.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>306</integer>
			<key>nType</key>
			<integer>3</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>æß×Ó4</string>
			<key>strIcon</key>
			<string>res/shop_system/spore/spore4.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>333</integer>
			<key>nType</key>
			<integer>4</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>ÍÏÎ²1</string>
			<key>strIcon</key>
			<string>res/shop_system/trailing/trailing1.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>334</integer>
			<key>nType</key>
			<integer>4</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>ÍÏÎ²2</string>
			<key>strIcon</key>
			<string>res/shop_system/trailing/trailing2.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>335</integer>
			<key>nType</key>
			<integer>4</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>ÍÏÎ²3</string>
			<key>strIcon</key>
			<string>res/shop_system/trailing/trailing3.png</string>
		</dict>
		<dict>
			<key>nId</key>
			<integer>336</integer>
			<key>nType</key>
			<integer>4</integer>
			<key>nPrice</key>
			<integer>100</integer>
			<key>strName</key>
			<string>ÍÏÎ²4</string>
			<key>strIcon</key>
			<string>res/shop_system/trailing/trailing4.png</string>
		</dict>
	</array>
</dict>
</plist>
