<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>year</key>
		<string>年</string>
		<key>month</key>
		<string>月</string>
		<key>day</key>
		<string>日</string>
		<key>number30</key>
		<string>连续1场获得第一名</string>
		<key>number900</key>
		<string>连续2场获得第一名</string>
		<key>number2700</key>
		<string>连续3场获得第一名</string>
		<key>openStr</key>
		<string>开启日的%s开启</string>
		<key>titleStr</key>
		<string>星期%s%s报名情况</string>
		<key>titleStrArray</key>
		<array>
			<string>一</string>
			<string>二</string>
			<string>三</string>
			<string>四</string>
			<string>五</string>
			<string>六</string>
			<string>七</string>
		</array>
		<key>dan</key>
		<array>
			<string>青铜</string>
			<string>白银</string>
			<string>黄金</string>
			<string>白金</string>
			<string>砖石</string>
			<string>金砖</string>
			<string>精英</string>
			<string>史诗</string>
			<string>传说</string>
			<string>大师</string>
			<string>王者</string>
			<string>超神</string>
		</array>
		<key>danSaveGold</key>
		<array>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
			<integer>100</integer>
		</array>
		<key>prop</key>
		<dict>
			<key>icon</key>
			<dict>
				<key>name</key>
				<string>金币</string>
			</dict>
		</dict>
	</dict>
</plist>